.header {
    display: flex;
    justify-content: center;

    text-align: center;
    margin: 40px 0;
}
.tabs{
    display: flex;
    justify-content: center;
    margin-top: 50px;

    align-items: center;
    padding: 80px 64px;
    gap: 48px;

    background: #fff;

}

.title-end {
    /* Wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 16px;

    height: 32px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.news-info {
    /* Info */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    margin: 0 auto;
    width: 212px;
    height: 30px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;

}

.label {
    align-items: center;
    padding: 4px 8px 5px;
    gap: 6px;

    height: 30px;
    border-radius: 6px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.label-primary {
    background: #E6F7FF;
    color: #0072BC;
}
.label-warning {
    background: #FFF2E8;
    color: #FA541C;
}

.title {
    font-family: 'Magistral';
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 120%;
    color: #0072BC;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.title > img {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 100%;
    max-height: 560px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}

.header h1 {
    /*font-size: 36px;*/
    /*font-weight: bold;*/
    /*color: #007bff;*/

    /* Heading */

    /*width: 768px;*/
    /*height: 53px;*/

    font-family: 'Magistral';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    /* identical to box height, or 53px */
    text-align: center;

    /* #0072BC */
    color: #0072BC;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.header p {
    color: #666;
    font-size: 18px;
}
.nav-tabs {
    border-bottom: none;
    margin-bottom: 20px;
    justify-content: center;
    display: flex;
}
.nav-tabs > li > a {
    color: #007bff;
    font-weight: bold;
    padding: 10px 20px;
}
.nav-tabs > li.active > a {
    border: none;
    border-bottom: 3px solid #007bff;
    background-color: transparent;
}
.news-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 0;
    display: flex;
    flex-direction: column;
}
.news-card img {
    border-radius: 10px 10px 0 0;
    max-width: 100%;
}
.news-card .news-info {
    padding: 15px;
}
.news-card .news-info h3 {
    font-size: 18px;
    font-weight: bold;
}
.news-card .news-info p {
    color: #666;
}
.load-more-btn {
    text-align: center;
    margin: 20px 0;
}
.load-more-btn button {
    /*border-radius: 20px;*/
    /*padding: 10px 20px;*/
    /*background-color: #007bff;*/
    /*border-color: #007bff;*/
    /*color: #fff;*/

    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;

    width: 160px;
    height: 48px;

    /* #0072BC */
    background: #0072BC;
    box-shadow: 0px 0px 8px -2px rgba(0, 114, 188, 0.5), 0px 2px 4px -2px rgba(0, 114, 188, 0.12);
    border-radius: 999px;

    /* Inside auto layout */
    flex: none;
    order: 3;
    flex-grow: 0;

}
.load-more-btn button img {
    /* arrow-down */
    width: 24px;
    height: 24px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}

.newsletters {
    background: #F8F8F8;
}
.newsletter {
    /*background-color: #fff;*/
    /*padding: 30px;*/
    /*border-radius: 10px;*/
    text-align: center;
    /*margin: 40px auto;*/
    /*max-width: 800px;*/
    /* Auto layout */
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    padding: 80px 64px;
    gap: 80px;

    /*position: absolute;*/
    /*width: 1600px;*/
    /*height: 413px;*/
    /*left: calc(50% - 1600px/2);*/
    /*top: 2157px;*/

}
.newsletter h2 {
    /*font-size: 24px;*/
    /*font-weight: bold;*/
    /*color: #007bff;*/
    /*margin-bottom: 20px;*/
    /* Heading */

    /*width: 768px;*/
    /*height: 53px;*/

    font-family: 'Magistral';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 120%;
    /* identical to box height, or 53px */
    text-align: center;

    /* #0072BC */
    color: #0072BC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;

}
.newsletter p {
    /*color: #666;*/
    /*margin-bottom: 20px;*/
    /* Text */

    /*width: 768px;*/
    /*height: 54px;*/

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    /* or 27px */
    text-align: center;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}
.newsletter .form-inline {
    margin-bottom: 20px;
    margin-top: 40px;
}
.newsletter .form-control {
    /*display: inline-block;*/
    /*width: auto;*/
    vertical-align: middle;

    /* Text input */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 12px;

    width: 358px;
    height: 48px;

    background: #FFFFFF;
    border: 2px solid #EEEEEE;
    border-radius: 12px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;

}
.newsletter .btn {
    display: inline-block;
    vertical-align: middle;

    /* Button */

    /* Auto layout */
    /*display: flex;*/
    /*flex-direction: row;*/
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    gap: 12px;

    width: 139px;
    height: 48px;

    /* #0072BC */
    background: #0072BC;
    box-shadow: 0px 0px 8px -2px rgba(0, 114, 188, 0.5), 0px 2px 4px -2px rgba(0, 114, 188, 0.12);
    border-radius: 999px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.newsletter .btn img {
    /* arrow-right */

    width: 24px;
    height: 24px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;

}
.newsletter .term {
    /* By clicking Sign Up you're confirming that you agree with our Terms and Conditions. */

    /*width: 513px;*/
    height: 18px;

    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* identical to box height, or 18px */
    text-align: center;

    color: #000000;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.related {
    /* Heading */
    height: 26px;

    font-family: 'Magistral';
    font-style: normal;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.related p {
    font-weight: 700;
    font-size: 20px;
    line-height: 130%;
    /* identical to box height, or 26px */

    /* #0072BC */
    color: #0072BC;
}

.item-right{
    /* Card */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;

    height: 120px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.item-right img {
    /* Placeholder Image */

    width: 200px;
    max-width: 200px;
    height: 120px;

    /*background: url('/img/');*/
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}
.item-right p {
    /* Content */
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: flex-start;*/
    padding: 0px;
    gap: 4px;

    width: 244px;
    height: 66px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

    /* Heading */

    width: 244px;
    height: 66px;

    font-family: 'Magistral';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    /* or 22px */

    color: #000000;


}