.home-safe {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #F8F8F8;
}
.safe-title {
  font-family: Magistral;
  font-weight: bold;
  color: #0072BC;
  font-weight: 700;
}
.safe-icon {
  border-radius: 50px;
  width: 100%;
}

.container-safe {
    position: relative;
}
.outside-image {
    position: absolute;
    left: calc(85%);
    transform: translateY(-70%);
    width: 85px;
    height: auto;
    margin-top: 30px;
}