.home-footer {
  display: flex;
  padding: 80px 64px;
  background: #363c3f;
}
.foot-title {
  color: var(--Text-alternate, #fff);
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.social-links {
  display: flex;
  align-items: flex-end;
  gap: var(--M, 12px);
}
